/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

    /* sticky footer */
    html, body, #outer-wrapper {
        height: 100%;
    }

    #wrapper {min-height: 100%;}

    #content {overflow:auto;
        padding-bottom: 30px;}  /* must be same height as the footer */

    #footer {position: relative;
        margin-top: -30px; /* negative value of footer height */
        height: 30px;
        clear:both;
        background-color: #ddd;
        line-height: 30px;
    }

    /*Opera Fix*/
    body:before {
        content:"";
        height:100%;
        float:left;
        width:0;
        margin-top:-32767px;
    }

    /* end sticky footer */

    body{
        font: 0.85em/1.5 'Lato', sans-serif;
    }

	#header{
		height: 100px;
		background: #2d2d2d;
	}

    #tab-bar ul{

    }

    #tab-bar li{
        float:left;
        text-align: center;
        width:33%;
    }

    .float{
        float: left;
    }

    div.float-right{
        float: right;
    }

    #switch-button{
        float: right;
        margin-top: -10px;
        outline: 0;
    }

    .nav span.floatright{
        float: right;
        margin-left: 50px;
        padding-top:30px;
        font-size: 1em;
    }

    img.logo{
        width:60px;
        height:60px;
    }

    span.white{
        color: white;
        font-weight: bold;
    }

    a.nav{
        color: #7e7e7e;
        text-decoration: none;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

    a.nav:hover{
        color: #6ec8c7;
    }

    div.nav{
        margin-top: 20px;
    }

    div.extramargin{
        margin-top: 20px;
    }

    span.highlight{
        color: #16a085;
        font-weight: bold;
        font-size: 1em;
    }

    label{
        font: 1.5em/1.5 'Lato', sans-serif;
        margin-bottom: 6px;
        clear: both;
    }

    #wrapper{
        min-height: 100%;
    }



    #search-route,
    #search-station{
        max-width:400px;
    }

    #search-route input,
    #search-station input{
        width: 100%;
        height: 39px;
        color: #757575;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #search-route select,
    #search-station select{
        width: 100%;
        height: 39px;
        color: #757575;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #tab-bar{
        display: none;
    }

    /*
    Date and time input box
    */
    #searchtime{
        display:table;
        width:100%;
    }

    #timeselect{
        float:left;

        display: table-cell;
        width:100%;
    }
    #timeselect select{
        width: 100%;
        margin-bottom:20px;
    }

    #date-input,
    #time-input{
        display: table-cell;
    }

    #date-input .outer,
    #time-input .outer{
        width:100%;
        float: left;
        margin-bottom: 20px;
        border:1px solid #ccc;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: #fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 8px 4px 6px 4px;
        height: 39px;
        outline: 0;
        text-align: center;
    }

    #date-input .inner,
    #time-input .inner{
        height: 100%;
        max-width: 90px;
        margin-left: auto;
        margin-right: auto;
    }

    #time-input .inner{
        max-width: 45px;
    }

    #date-input .inner span,
    #time-input .inner span{
        line-height: 17px;
    }

    #date-input input.small{
        width:20px;
    }

    #date-input .inner.focused,
    #time-input .inner.focused{
        border: 1px solid #aaa;
        color: #444;
        outline: 0;
        -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
        box-shadow: 0 0 3px rgba(0,0,0,.2);
    }

    #date-input .divider,
    #time-input .divider{
        float:left;
        height:auto;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #date-input input,
    #time-input input{
        float: left;
        width: 40px;
        background: none;
        text-align: inherit;
        border: none;
        height: 19px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #time-input input{
        width: 20px;
    }

    #date-input input:focus,
    #time-input input:focus{
        outline: 0;
        border:0;
        box-shadow: none;
    }

    /*
    Buttons with icons
    */
    .icon-text{
        display: block;
        height:30px;
    }

    .icon-text img{
        float:left;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .icon-text p,
    .icon-text span{
        padding-top: 5px;
        float:left;
    }




    span.radio{

        color: #757575;
    }

    button {
        width:250px;
        display: table-cell;

        text-align: center;
        vertical-align: middle;

        text-align: center;
        vertical-align: middle;
        height: 40px;
        font: 1.25em/1 'Lato', sans-serif;
        color: #757575;
        padding-top: 5px;
        background: #EAEAEA;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

    button:hover{
        background: #f1f1f1;
    }

    div.sidebar{
        float: right;
    }

    div.sidebarcontent{
        text-align: left;
    }

    img.icon{
        margin-left: 15px;
    }

    p.smaller{
        font-size: 0.8em;
    }

    .smallcaps{
        font-variant: small-caps;
        padding-left: 5px;
    }

    #searchtime{
        margin-bottom: 20px;
    }

    #switch-from-to{
        width:30px;
        height:30px;
        padding:5px;
        margin: 0;
    }

    #myrail-features li{
        margin-bottom: 30px;
        font-size: 1.5em;
    }

    #myrail-features ul{
        margin: 0;
    }

    #myrail-features h3{
        margin-bottom: 20px;
    }
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }


/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

ui-autocomplete-item{
    background-color: #ddd;
}

/* Menu
----------------------------------*/
.ui-menu {
    background-color: #fff;
    list-style:none;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    display:block;
    width:227px;
}

.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;

    background-color: #fff;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-focus {
    margin: -1px;
    background-color: rgba(86, 135, 188, 0.63);

}

.ui-helper-hidden-accessible{
    display:none;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        img.logo{
            width:50px;
            height:50px;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        img.logo{
            width:40px;
            height:40px;
        }
    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        img.logo{
            width:40px;
            height:40px;
        }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        .btn{
            text-align: center;
        }

        #tab-bar{
            display: block;
        }

        div.page{
            display: none;
        }

        div.page.active{
            display: block;
        }
        div.page hr{
            display: none
        }
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

    .btn{
        text-align: center;
    }

    #tab-bar{
        display: block;
    }

    div.page{
        display: none;
    }

    div.page.active{
        display: block;
    }

    img.logo{
        width:30px;
        height:30px;
    }

    .nav span.floatright{
		float: right;
		margin-left: 15px;
		padding-top:10px;

	}
    div.page hr{
        display: none
    }

	#header{
		height: 50px;
	}

	div.nav{
		margin-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}

    [type="text"], input[type="password"], input[type="email"], textarea, select, #searchtime{
        margin-bottom: 10px;
    }
	
	}