body{
	max-width: 750px;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	color: #1d190e;
	
}

a{
	color: #999999;
}

hr{
	padding: 0;
	margin: 0;
	background-color: #e8e8e8;
}

span.emphasis{
	color: #E74C3C;
	font-weight: 600;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	
}

span.emphasis:hover{
	color: #1d190e;
}

input, textarea, .uneditable-input {
	max-width: 260px;
	width: 90%;
}

/* Navigation Bar */

li.notifications{
	margin-right: 5px;
}

.navbar .nav > li > a.notifications{
	margin: 0;
	padding: 0;
}

.navbar .nav>li>a {
	color: #1d190e;
	font-size: 14px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.navbar .nav>li>a:hover {
	color: #6d6d6d;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
border-top-color: #1d190e;
border-bottom-color: #1d190e;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret:hover {
border-top-color: #6d6d6d;
border-bottom-color: #6d6d6d;
}

div.navbar{
	border-bottom: 1px solid #e8e8e8;
	box-shadow: none !important;
}


.navbar-inner{
	background: white;
	border: none;
	border-bottom: 1px solid #f9f9f9;
	min-height: 50px;
	padding-top: 8px;
	box-shadow: none !important;
}

div.container a.brand{
	font-size: 1.8em;
	color: #1d190e;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}




.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #f2f2f2;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

ul.dropdown-menu{
	box-shadow: none !important;
}

.dropdown-menu li{
	font-size: 14px;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-image: none;
	background-color: #f2f2f2;
	color: #1d190e;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.label-important, .badge-important{
	background-color: #E74C3C;
	padding-top: 2px;
	padding-bottom: 3px;
	font-size: 13px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.label-important:hover, .badge-important:hover{
	background-color: #8e8e8e;
	
	
}

/* TABS */

div.span8{
	max-width: 750px;
}

#content .span8{
	margin-left: 0;
}

.custom > li > a:hover {
   background-color: #f2f2f2;
   color: #1d190e;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -o-transition: 0.25s;
   transition: 0.25s;
}

.tabbable{
border-bottom: 1px solid #e8e8e8;
	
}

.underline{
	border-bottom: 1px solid #f9f9f9;
}

/* FORM */

label.cap{
	font-variant: small-caps;
	font-size: 1.3em;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(153,153,153,.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153,153,153,.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153,153,153,.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153,153,153,.8);`
  
}
  
select.select{
  	width: 120px;
  	background: white;
  	box-shadow: none !important;
}