<div class="eight columns alpha">
    <div id="directions" class="page active">
        <form id="search-route" novalidate name="directionForm">

            <label for="departing" class="label">From</label>
            <input type="text" id="departing"  name="departing" placeholder="Departure station" tabindex="1" ng-model="from" required auto-complete on-enter="focus('destination', directionForm.departing.$valid)" />

            <label for="destination" class="label float-left">To</label>
            <div id="switch-button">
                <button type="button" class="btn-small" tabindex="3" ng-click="switchFromTo()">
                    <img src="../images/arrow.svg" alt="switch"/>
                </button>
            </div>
            <input type="text" id="destination" placeholder="Destination" tabindex="2" ng-model="to" required auto-complete />

            <label>Date &amp; Time</label>
            <div id="searchtime">

                <div id="timeselect">
                    <select ng-model="departure">
                        <option value="depart" ng-selected="true">Departure time</option>
                        <option value="arrive">Arrival time</option>
                    </select>
                </div>


                <div class="date-input">
                    <div class="outer" tabindex="-1">
                        <div class="inner">
                            <input type="text" id="day" class="small" ng-model="day" ng-format="" maxlength="2" tabindex="4"/>
                            <span class="divider">
                                /
                            </span>
                            <input type="text" id="month" class="small" ng-model="month" maxlength="2" tabindex="5"/>
                            <span class="divider">
                                /
                            </span>
                            <input type="text" id="year" ng-model="year" maxlength="4" tabindex="6"/>
                        </div>
                    </div>
                </div>

                <div class="time-input">
                    <div class="outer" tabindex="-1">
                        <div class="inner">
                            <input type="text" id="hours" class="alpha" maxlength="2" tabindex="7" ng-model="hours"/>
                            <span class="divider">
                                :
                            </span>
                            <input type="text" id="minutes" class="beta" maxlength="2" tabindex="8" ng-model="minutes"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn">
                <button type="submit" ng-disabled="!directionForm.$valid" ng-click="searchDirections()">
                    <div class="icon-text center">
                        <img src="../images/train.svg" alt="irail logo" width="40" class="icon"/>
                        <span>Check train times</span>
                    </div>
                </button>
            </div>

        </form>
    </div>

    <div id="stations" class="page">
        <hr/>
        <form id="search-station" name="stationForm">
            <label for="station" class="label">Current departures</label>
            <input type="text" id="station" class="home" placeholder="Select station" ng-model="station" required auto-complete/>
            <div class="btn">
                <button ng-disabled="!stationForm.$valid" ng-click="searchStations()">
                    <div class="icon-text">
                        <img src="../images/train.svg" alt="irail logo" width="40" class="icon"/>
                        <span>Search by station</span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="eight columns omega">
    <div id="favorite-routes">
        <div class="list-head icon-text">
            <div class="list-head--wrapper">
                <img src="../images/star.svg"/><span>Favorite Routes</span>
            </div>
        </div>
        <div class="list-detail">
            <ul>
                <li ng-repeat="route in favoriteRoutes" class="icon-text">
                    <a href="#/route/{{ route.from }}/{{ route.to }}"><span>{{ route.from }}</span><img src="../images/grey-arrow.svg"/><span>{{ route.to }}</span></a>
                    <div class="float-right">
                        <button type="button" ng-click="unFavorite(route.from, route.to)" class="btn-small"><span class="red">-</span></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="tab-bar" class="eight columns">
    <ul>
        <li><a ng-click="directions()">Directions</a></li>
        <li><a ng-click="stations()">Stations</a></li>
        <li><a ng-click="myRail()">MyRail</a></li>
    </ul>
</div>


