<div id="header">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">iRail</a>
                <ul class="nav pull-right">
                    <li><a>Notifications</a></li>
                    <li><a>Menu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <form novalidate ng-submit="submit()">
        <label for="from">From</label>
        <input type="text" name="from" id="from" ng-model="from" required />
        <label for="to">To</label>
        <input type="text" name="from" id="to" ng-model="to" required />

        <input type="submit" class="btn" value="search"/>
    </form>

    <div>
        <button class="btn btn-large btn-block" type="button">Sign in to MyRail</button>
    </div>
</div>
