<div id="content">

    <div class="span8 visible-desktop"><center><p class="lead">Hi, you're looking great today! Which travel information do you need?</p></center></div>

    <div class="span8 underline">

        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs custom">
                <li class="active"><a href="#tab1" data-toggle="tab">Route</a></li>
                <li class="other-tab"><a href="#tab2" data-toggle="tab">Station</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <form novalidate name="directionForm">
                        <label for="from" class="cap">from</label>
                        <input type="text" class="customwidth" name="from" id="from" ng-model="from" placeholder="Select departure station" required/>
                        <span class="error" ng-show="directionForm.from.$error.required">Required!</span>
                        <label for="to" class="cap">to</label>
                        <input type="text" class="customwidth" name="to" id="to" ng-model="to" placeholder="Select destination" required/>
                        <span class="error" ng-show="directionForm.to.$error.required">Required!</span>
                        <br/><br/>

                        <button ng-disabled="!directionForm.$valid" ng-click="submit()"/>
                    </form>
                    <br/>
                </div>
                <div class="tab-pane" id="tab2">
                    <p>Howdy, I'm in Section 2.</p>
                    <br/>
                </div>
            </div>
        </div>

    </div>

    <div>
        <p>&nbsp;</p>
        <button class="btn btn-large btn-block" type="button">Sign in to MyRail</button>
    </div>
</div>
