<div class="sixteen columns">
    <div class="extramargin">

        <form class="search-route" novalidate name="directionForm">

            <label for="departing" class="label">From</label>
            <input type="text" id="departing" class="search-route__field" placeholder="Departure station" ng-model="from" required auto-complete />

            <div class="float-right">
                <a ng-click="switchFromTo()">switch</a>
            </div>

            <label for="destination" class="label">To</label>
            <input type="text" id="destination" class="search-route__field" placeholder="Destination" ng-model="to" required auto-complete />

            <div class="date-fieldset">
                <label class="label">Date <span class="smallcaps">(DD/MM/YY)</span></label>
                <input type="text" id="day" class="alpha" ng-model="day"/>
                <input type="text" id="month" ng-model="month"/>
                <input type="text" id="year" class="beta" ng-model="year"/>
            </div>

            <div class="time-fieldset">
                <label class="label">Time <span class="smallcaps">(HH/MM)</span></label>
                <input type="text" id="hours" class="alpha" ng-model="hours"/>
                <input type="text" id="minutes" class="beta" ng-model="minutes"/>
            </div>

            <label for="timeselect">Search on</label>
            <select id="timeselect" ng-model="departure">
                <option value="depart" ng-selected="true">Departure time</option>
                <option value="arrive">Arrival time</option>
            </select>

            <button type="submit" class="edit" ng-disabled="!directionForm.$valid" ng-click="searchDirections()">Search</button>

        </form>

        <hr/>

        <label for="station" class="label">Current departures and arrivals</label>
        <input type="text" id="station" class="home" placeholder="Select station" ng-model="station"/>
        <button type="submit" class="edit" ng-click="searchStations()">Search by station</button>


        <br/>

    </div>
</div>

<div class="sixteen columns">
    <hr/>
    <p class="smaller">MyRail offers you extra features such as planning trips and social check-in's on trains. Check it out!</p>
    <button type="submit" class="edit">Enter MyRail</button>
    <img src="../images/irail.svg" alt="irail logo" width="40" class="beep"/>
</div>


