<div class="sixteen columns">
    <div class="extramargin">
    
    <div class="special">
    <img src="images/arrow.svg" alt="gps" width="30" class="icon-margin"/>
    <img src="images/gps.svg" alt="gps" width="30" class="icon-margin"/>
    </div>
    

        <form novalidate name="directionForm">
            <label for="departing" class="label">From <span class="smallcaps"></span></label>
            <div class="test"><input type="text" id="departing" class="home" placeholder="Departure station" ng-model="from" required auto-complete ui-items="stations"/></div>

            <label for="destination" class="label">To </label>
            <input type="text" id="destination" class="home" placeholder="Destination" ng-model="to" required auto-complete ui-items="stations"/>

            <label class="label">Date <span class="smallcaps">(DD/MM/YY)</span></label>
            <input type="text" id="day" class="homesmall" ng-model="day"/>
            <input type="text" id="month" class="homesmall" ng-model="month"/>
            <input type="text" id="year" class="homesmall" ng-model="year"/>
            <br/>

            <label class="label">Time <span class="smallcaps">(HH/MM)</span></label>
            <input type="text" id="hours" class="homesmall" ng-model="hours"/>
            <input type="text" id="minutes" class="homesmall" ng-model="minutes"/>
            <br/>

            <label for="timedeparture" class="label2">
                <input type="radio" name="departure" id="timedeparture" value="depart" ng-model="departure" ng-checked="true" />
                Time of departure
            </label>
            <label for="timearrival" class="label2">
                <input type="radio" name="arrival" id="timearrival" value="arrive" ng-model="departure" />
                Time of arrival
            </label>

            <br/>

            <button type="submit" class="edit" ng-disabled="!directionForm.$valid" ng-click="searchDirections()">Search</button>

        </form>

        <hr/>

        <label for="station" class="label">Current departures and arrivals</label>
        <input type="text" id="station" class="home" placeholder="Select station" ng-model="station"/>
        <button type="submit" class="edit" ng-click="searchStations()">Search by station</button>


        <br/>

    </div>
</div>

<div class="sixteen columns">
    <hr/>
    <p class="smaller">MyRail offers you extra features such as planning trips and social check-in's on trains. Check it out!</p>
    <button type="submit" class="edit">Enter MyRail</button>
    <img src="../images/irail.svg" alt="irail logo" width="40" class="beep"/>
</div>


