<div id="wrapper">
    <div id="header">
        <div class="container">
            <div class="sixteen columns">
                <div class="nav">
                    <img class="logo" src="images/logo.svg"/>
                    <span class="floatright"><a href="#" class="nav">Notifications <span class="white">(0)</span></a></span>
                    <span class="floatright"><a href="#" class="nav">MyRail</a></span>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="container">
        <div class="sixteen columns">
            <div class="extramargin">
                <div class="eight columns alpha">
                    <div id="routes" class="page active">

                        <p>
                            From <span class="accent">{{ fromStation }}</span> to <span class="accent">{{ toStation }}</span>
                            <br/>
                            On <span class="accent">{{ routeDate | date:'EEEE d MMMM y' }}</span>
                        </p>

                        <ul id="route-overview">
                            <li class="route-general" ng-click="open($event)" ng-repeat="route in possibleRoutes">
                                <span>{{ route.departure.time * 1000 | date:'HH:mm' }}</span> ->

                                <span>{{ route.arrival.time * 1000 | date:'HH:mm' }}</span>
                                <img src="../images/irail.sg"> {{ 1 + parseNbVias(route.vias) }}</span>
                                <span><img src="../images/irail.sg">{{ route.duration * 1000 | date:'HH:mm' }}</span>
                                <ul ng-class="{'closed' : $index > 0}">
                                    <li>
                                        {{ route.departure.vehicle }} Destination {{ route.departure.direction.name }}
                                    </li>
                                    <li>
                                        {{ route.departure.time * 1000 | date:'HH:mm' }} {{ route.departure.station }} {{ route.departure.platform }}
                                    </li>
                                    <div ng-repeat="via in route.vias.via">
                                        <li>
                                            {{ via.arrival.time * 1000 | date:'HH:mm' }} {{ via.station }} {{ via.arrival.platform }}
                                        </li>
                                        <li>
                                            {{ via.vehicle }} Destination {{ via.direction.name }}
                                        </li>
                                        <li>
                                            {{ via.departure.time * 1000 | date:'HH:mm' }} {{ via.station }} {{ via.departure.platform }}
                                        </li>
                                    </div>
                                    <li>
                                        {{ route.arrival.time * 1000 | date:'HH:mm' }} {{ route.arrival.station }} {{ route.arrival.platform }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="eight columns omega">
                    <div>
                        <div id="navigation-buttongroup" class="btn">
                            <div>
                                <button class="float alpha" ng-click="earlier()">
                                    <div class="icon-text"><img src="../images/earlier.svg"><span>Earlier</span></div>
                                </button>
                                <button class="float omega" ng-click="later()">
                                    <div class="icon-text"><span>Later</span><img class="inverted" src="../images/later.svg"></div>
                                </button>
                            </div>
                            <div>
                                <button class="float alpha" ng-click="earliest()">
                                    <div class="icon-text"><img src="../images/earliest.svg"><span>Earliest</span></div>
                                </button>
                                <button class="float omega"  ng-click="latest()">
                                    <div class="icon-text"><span>Latest</span><img class="inverted"  src="../images/latest.svg"></div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="myrail" >
                        <div class="btn">
                            <button type="submit">
                                <div class="icon-text">
                                    <img src="../images/irail.svg" alt="irail logo" width="40" class="icon"/>
                                    <span>Enter MyRail</span>
                                </div>
                            </button>
                        </div>
                        <div class="btn">
                            <button type="submit">
                                <div class="icon-text">
                                    <img src="../images/star.svg" alt="star" width="40" class="icon"/>
                                    <span>Favorite Route</span>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="eight columns">
            <p><a href="#">Find out more</a> about iRail</p>
        </div>
    </div>
</div>

