<div id="wrapper">
    <div id="header">
        <div class="container">
            <div class="sixteen columns">
                <div class="nav">
                    <img class="logo" src="../images/logo.svg"/>
                    <span class="floatright"><a href="#" class="nav">Notifications <span class="white">(0)</span></a></span>
                    <span class="floatright"><a href="#" class="nav">MyRail</a></span>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="container">
        <div class="sixteen columns">
            <div class="extramargin">
                <div class="eight columns alpha">
                    <div id="routes" class="page active">

                        <p>
                            Current departures at <span class="accent">{{ stationName }}</span>
                        </p>
                        <div id="spinner"><img src="../images/ajax-loader.gif" width="32" height="32"> </div>
                        <ul id="route-overview">
                            <li class="route-general" ng-click="open($event)" ng-repeat="departure in liveboard.departure" on-finish-render>
                                <div class="list-head">
                                    <div class="list-head__time-delay">
                                        <span class="accent">{{ departure.time * 1000 | date:'HH:mm'}}</span>
                                        <span class="red" ng-show="departure.delay> 0">+{{ departure.delay | date:'mm'}}M</span>
                                    </div>
                                    <div class="icon-text list-head__to-station">
                                        <img src="../images/grey-arrow.svg"/>
                                        <span class="accent">{{ departure.station }}</span>
                                    </div>
                                    <div class="list-head__platform">
                                        {{ departure.platform }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="eight columns omega">

                    <div id="navigation-buttongroup" class="btn">
                        <div>
                            <button class="float alpha" ng-click="earlier()">
                                <div class="icon-text"><img src="../images/earlier.svg"><span>Earlier</span></div>
                            </button>
                            <button class="float omega" ng-click="later()">
                                <div class="icon-text"><span>Later</span><img class="inverted" src="../images/later.svg"></div>
                            </button>
                        </div>
                    </div>

                    <div id="myrail" >
                        <div class="btn">
                            <button type="submit">
                                <div class="icon-text">
                                    <img src="../images/myrail.svg" alt="irail logo" width="40" class="icon"/>
                                    <span>Enter MyRail</span>
                                </div>
                            </button>
                        </div>
                        <div class="btn">
                            <button type="submit">
                                <div class="icon-text">
                                    <img src="../images/star.svg" alt="star" width="40" class="icon"/>
                                    <span>Favorite Route</span>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="eight columns">
            <p><a href="#">Find out more</a> about iRail</p>
        </div>
    </div>
</div>