<div id="route-overview">
    <ul>
        <li ng-repeat="route in availableRoutes">
            <div class="route-details">
                <ul ng-class="{'closed' : $index > 0}">
                    <li>
                        {{ route.departure.vehicle }} Destination {{ route.departure.direction.name }}
                    </li>
                    <li>
                        {{ route.departure.time * 1000 | date:'HH:mm' }} {{ route.departure.station }} {{ route.departure.platform }}
                    </li>
                    <div ng-repeat="via in route.vias.via">
                        <li>
                            {{ via.arrival.time * 1000 | date:'HH:mm' }} {{ via.station }} {{ via.arrival.platform }}
                        </li>
                        <li>
                            {{ via.vehicle }} Destination {{ via.direction.name }}
                        </li>
                        <li>
                            {{ via.departure.time * 1000 | date:'HH:mm' }} {{ via.station }} {{ via.departure.platform }}
                        </li>
                    </div>
                    <li>
                        {{ route.arrival.time * 1000 | date:'HH:mm' }} {{ route.arrival.station }} {{ route.arrival.platform }}
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>